// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * 																			 *
// *	Styles.scss																 *
// *																			 *
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

/* Config */
/* =========================================================================== */
@import 'config/all';

/* Variables */
/* =========================================================================== */
@import 'variables/all';

/* Vendor */
/* =========================================================================== */
<% if (includeBootstrap) { %>@import "bootstrap";<% } %>
<% if (includeBourbon) { %>@import "bourbon";<% } %>
<% if (includeNeat) { %>@import "neat";<% } %>
<% if (includeFontawesome) { %>@import "font-awesome";<% } %>

/* Mixins */
/* =========================================================================== */
@import 'mixins/all';

/* Base */
/* =========================================================================== */
@import 'base/all';

/* Grid */
/* =========================================================================== */
@import 'grid/all';

/* Layout */
/* =========================================================================== */
@import 'layout/all';

/* Components */
/* =========================================================================== */
@import 'components/all';

/* Pages */
/* =========================================================================== */
@import 'pages/all';

/* Vendor */
/* =========================================================================== */
@import 'vendor/all';
